<!DOCTYPE html>
{% extends "sd_app/base.html" %}

{% block content %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>History</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
    </style>
</head>
<body>    
    <h3>{{ user.username }}</h3>        
    <h2>Purchase History</h2>
    <table>
        <tr>
            <th>Amount</th>
            <th>Location</th>
            <th>Delivery Date</th>            
        </tr>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.amount }}</td>
                <td>{{ purchase.location }}</td>
                <td>{{ purchase.delivery_date }}</td>
            </tr>
        {% endfor %}        
    </table>
</body>
</html>
{% endblock %}